<div>
  <h4>Product Edit</h4>
  <div>
      <table class="table">
      <tbody>
          <tr>
            <td>Category</td>
            <td><input [(ngModel)]="productData.category" placeholder="Product Category"/></td>
          </tr>
          <tr>
            <td>Name</td>
            <td><input [(ngModel)]="productData.name" placeholder="Product Name"/></td>
          </tr>
          <tr>
            <td>Price</td>
            <td><input [(ngModel)]="productData.price" placeholder="Product Price"/></td>
          </tr>
      </tbody>
    </table>
  </div>
  <input [(ngModel)]="productData.id" placeholder="Product id"/>
  <button (click)="updateProduct()">Save</button>
</div>